<div id="owl-demo" class="owl-carousel">

 <div class="item lazyOwl"> 
  <% current_user.interest.each do |i|  %>
  <%  if i.present?  %>
  <div class="reveal">
<%= image_tag("#{i}.jpg") %>

    <div class="overlay"></div>
    <div class="text">
      <p> <%= link_to i, "#" %>

    </div>
      <% end %> 

  </div>
      <% end %> 

</div> 

</div>


