  <!-- Not implemented on tutorial -->
  <br>
    <br>
<h1>Chinwag!</h1>
  <br>
    <br>
  <div class="col-md-12">
    <div style="overflow-y: auto;">

      <!-- Default panel contents -->

      <% if @users.present? %>
      <%= render(
        partial: 'users/list',
        locals: { users: @users }
        ) %>
        <% else %>
        <p>There is no user matching your profile.</p>
        <% end %>
      </div>
        <br>
          <br>
           <br>
          <br>
    </div>



     </div>


   </div>

   <br>
   <br>
   <br>
   <br>
   <br>
