<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>chinwag</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/landing.css">

  </script>
  </script>
</head>
<body>

  <div class="heroimg">
    <div class="contrastcorrect">

    </div>
  </div>

  <script type="text/javascript">
    function getstarted() {
      window.location.href = "http://chinwag.space/index.html";
      console.log("getstarted");
    }
  </script>
<button onclick="getstarted()">Get started</button>
<span class="ctahinttext">Its free!</span>


</body>

</html>
